.venv
.idea/inspectionProfiles/profiles_settings.xml
.gitignore
.idea/.gitignore
.idea/holbertonschool-higher_level_programming.iml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
python-if_else_loops_functions/5-print_comb2.py:Zone.Identifier
python-if_else_loops_functions/5-print_comb2.py:Zone.Identifier
python-if_else_loops_functions/5-print_comb2.py:Zone.Identifier
python-data_structures/main.py
python-classes/__pycache__/0-square.cpython-312.pyc
python-classes/__pycache__/1-square.cpython-312.pyc
python-classes/__pycache__/3-square.cpython-312.pyc
python-classes/__pycache__/4-square.cpython-312.pyc
python-classes/__pycache__/5-square.cpython-312.pyc
python-classes/__pycache__/6-square.cpython-312.pyc
