.venv
.idea/inspectionProfiles/profiles_settings.xml
.gitignore
.idea/.gitignore
.idea/holbertonschool-higher_level_programming.iml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
python-data_structures/main.py
*/__pycache__
*/*.py:Zone.Identifier
.vscode
.DS_Store
.require
.gitignore
requirements.txt
restful-api/main_02_requests.py
restful-api/posts.csv
restful-api/task2.py
restful-api/task3.py
restful-api/task4.py
